@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');

body {
  background-color: #3d72dc;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Euclid Circular B', sans-serif;
  font-weight: 700;
}

.balls-background {
  position: relative
}

.images_outer {
  max-width: 385px;
  position: relative;
  margin: 103px auto 74px;
}

.images_sphere1 {
  height: 104px;
  width: 104px;
  z-index: 2;
  top: 140px;
  left: -80px;
  position: absolute;
}

.images_sphere2 {
  height: 150px;
  width: 150px;
  z-index: -1;
  right: -950px;
  bottom: -200px;
  position: absolute;
}

.images_sphere3 {
  height: 139px;
  width: 139px;
  z-index: -1;
  right: -80px;
  top: -350px;
  position: absolute;
}

.card {
  background: #ffffff1a;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid #ffffff2e;
  padding: 24px;
}

.card-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.title {
  margin-bottom: 16px;
}

.title h1 {
  font-size: 32px;
  color: #274379;
  margin-bottom: 8px;
}

.title h2 {
  font-size: 16px;
  font-weight: 500;
  color: #2e436e;
  margin-bottom: 8px;
}

.converter-type-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.converter-type-buttons button {
  background: #a4b9e9;
  color: #1f4183;
  font-weight: 800;
  border-radius: 900px;
  border: none;
  padding: 10px 24px;
  cursor: pointer;
}

.converter-type-buttons button:hover {
  background: rgb(215, 223, 239);
  color: #1f4183;

}

.converter-type-buttons .active {
  background: rgb(215, 223, 239);
  color: #1f4183;
  cursor:initial;

}

.card-body {
  background: #ffffff1a;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  padding: 16px;
}


.card-body label {
  font-weight: 900;
  color: #fff;
  display: block;
  float: left;
  margin-bottom: 12px;
}

.card-body label, input {
  width: 80px;
}

input[type=text] {
  margin-bottom: 24px;
  width: 100%;
  padding: 12px 0 12px 12px;
  background: #ffffff1a;
  font-family: 'Euclid Circular B', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #14184a;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid #ffffff;
}

input:disabled {
  background: #0000004d;
  color: rgb(221, 222, 231);

}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.574);
  opacity: 1;
  /* Firefox */
}

fieldset {
  width: 98%;
  margin: 16px 0 16px 0;

}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=submit] {
  background: #ffffffb8;
  font-weight: 800;
  width: 100%;
  padding: 16px 0;
  color: #000000b4;
  font-size: 18px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #d8d8d8b8;
  color: #000000b4;
}

@media screen and (max-width:1024px)  {
  .images_sphere1 {
    top: -380px;
    left: 500px;
  }
  
  .images_sphere2 {
    right: -700px;
    bottom: -300px;
  }
  
  .images_sphere3 {
    right: -300px;
    top: -400px;
  }
}

@media screen and (max-width: 764px){
  .images_sphere1 {
    top: -380px;
    left: 300px;
  }
  
  .images_sphere2 {
    right: -400px;
    bottom: -300px;
  }

  .images_sphere3 {
    right: -200px;
    top: -400px;
  }
  
}

@media screen and (max-width: 480px){
  .images_sphere1 {
    top: -380px;
    left: 250px;
  }
  .images_sphere2 {
    right: -300px;
    bottom: -300px;
  }
}